{% extends 'base.html' %}

{% block content %}
<h1>Record Label Directory</h1>
<table>
    <tr>
        <th>Label Name</th>
        <th>Location</th>
        <th></th>
    </tr>

    {% for record_label in record_labels %}
    <tr>
        <td><a href="/record_labels/{{record_label.id}}" class="links">{{record_label.name}}</a></td>
        <td>{{record_label.location}}</td>
        <td>
            <a href="/record_labels/{{record_label.id}}/edit" class="links">Edit Me</a>
         </td>
        
     </tr>  
      
    {% endfor %}
    </table>
    <div>
        <form action="/record_labels/new">
        <button class="buttons">Add New Record Label</button>
        </form>
    </div>
{% endblock %}