{% extends 'base.html' %}

{% block content %}
<h1>{{record_label.name}}</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Format</th>
        <th>Genre</th>
        <th>Quantity</th>
        <th>Buy Cost</th>
        <th>Sell Price</th>
        <th>Margin</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><a href="/products/{{product.id}}" class="links">{{product.title}}</a></td>
        <td>{{product.artist}}</td>
        <td>{{product.format}}</td>
        <td>{{product.genre}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.buy_cost}}</td>
        <td>{{product.sell_price}}</td>
        <td>{{product.calculate_margin()}}</td>
    </tr>   
    {% endfor %}
</table>
<div class="button-flex"> 
    <form action="/record_labels/{{record_label.id}}/edit">
    <button class="buttons">Edit</button>
    </form>
    <form action="/record_labels/{{record_label.id}}/delete" method="POST">
    <button class="buttons">Delete</button>
    </form>
</div>
{% endblock %}