{% extends 'base.html' %}

{% block content %}
<h1>Full Product List</h1>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Label</th>
        <th>Format</th>
        <th>Genre</th>
        <th>Quantity</th>
        <th>Buy Cost</th>
        <th>Sell Price</th>
        <th>Margin</th>
        <th>Total Margin</th>
        <th></th>
    </tr>
    {% for product in products %}
    
    <tr>
        <td><a href="/products/{{product.id}}" class="links">{{product.title}}</a></td>
        <td>{{product.artist}}</td>
        <td><a href="/record_labels/{{product.record_label.id}}" class="links">{{product.record_label.name}}</a></td>
        <td>{{product.format}}</td>
        <td>{{product.genre}}</td>
        {% if product.quantity == 0 %}
        <td class="soldout">{{product.quantity}}</td>
        {% elif product.quantity < 11 %}
        <td class="stocklow">{{product.quantity}}</td>
        {% else %}
        <td class="stockfine">{{product.quantity}}</td>
        {% endif %}
        <td>{{product.buy_cost}}</td>
        <td>{{product.sell_price}}</td>
        <td>{{product.calculate_margin()}}</td>
        <td>{{product.calculate_total_margin()}}</td>
        <td>
           <a href="/products/{{product.id}}/edit" class="links">Edit Me</a>
        </td>
       
    </tr>  
    {% endfor %}
</table>

<div>
    <form action="/products/new">
    <button class="buttons">Add New Product</button>
    </form>
</div>

{% endblock %}