{% extends 'base.html' %}

{% block content %}
Products

<table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Label</th>
        <th>Format</th>
        <th>Genre</th>
        <th>Quantity</th>
        <th>Buy Cost</th>
        <th>Sell Price</th>
        <!-- <th>Margin</th> -->
    </tr>
    {% for product in products %}
    <tr>
        <td>{{product.title}}</td>
        <td>{{product.artist}}</td>
        <td>{{product.record_label.name}}</td>
        <td>{{product.format}}</td>
        <td>{{product.genre}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.buy_cost}}</td>
        <td>{{product.sell_price}}</td>
        <!-- <td>{{margin}}</td> -->
    </tr>   
    {% endfor %}
</table>

{% endblock %}