.links {
    text-decoration: none;
    color: teal ;
}

.buttons {
    padding: 15px 15px;
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.buttons:hover {
    background-color: #3e8e41;
}

.buttons:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-flex {
    position: relative;
    display: block;
    margin-left: 40px;
}