body {
    font-family: 'Cutive Mono', monospace;
}

.menu > li > a{
    text-decoration: none;
}

h1 {
    text-align: center;
}

.links {
    text-decoration: none;
}

.buttons {
    margin: 30px;
}

.stockfine {
    background-color: chartreuse;
}

.stocklow {
    background-color: coral;
}