<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menus.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='linksbuttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <title>Record Store Inventory</title>
</head>
<body>
    <header>
        <nav>
                <ul class="menu">
                    
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/record_labels">Label Directory</a></li>
                </ul>
                <img class="logo" src="/static/images/logo.png" alt="logo" height="40%" width="40%">
        </nav>
    </header>
    {% block content %}


    {% endblock %}
</body>
</html>