{% extends 'base.html' %}

{% block content %}
<div class="image-container">
        <img src="/static/images/king.jpg" alt="geedorah" height="200px" width="200px">
        <img src="/static/images/skeptics.jpg" alt="skeptics" height="200px" width="200px">
        <img src="/static/images/sabbath.jpg" alt="sabbath" height="200px" width="200px">
        <img src="/static/images/ohsees.jpg" alt="ohsees" height="200px" width="200px">
        <img src="/static/images/connan.jpg" alt="connan" height="200px" width="200px">
        <div class="button-flex"> 
            <form action="/products">
            <button class="buttons">Products</button>
            </form>
            <form action="/record_labels/"">
            <button class="buttons">Labels</button>
            </form>
        </div>
    <div class="bottom-container">
        <img src="/static/images/netty.jpg" alt="netty" height="100%" width="100%">
            <div class="contain1">
                <img src="/static/images/molly.jpg" alt="molly" height="200px" width="200px">
                <img src="/static/images/iggy.jpg" alt="iggy" height="200px" width="200px">
            </div>
            <div class="contain2">
                <img src="/static/images/shaggs.jpg" alt="shaggs" height="200px" width="200px">
                <img src="/static/images/grouper.jpg" alt="grouper" height="200px" width="200px">
            </div>
            <div class="contain3">
                <img src="/static/images/ymo.jpg" alt="ymo" height="200px" width="200px">
                <img src="/static/images/lykkeli.jpg" alt="lykki" height="200px" width="200px">
            </div>
            <div class="contain4">
                <img src="/static/images/neworder.jpg" alt="neworder" height="200px" width="200px">
                <img src="/static/images/grace.jpg" alt="grace" height="200px" width="200px">
            </div>
            </div>
    </div>
</div>

{% endblock  %}